/**************************/
/*      below 1200px      */
/**************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .background {
    max-width: 120rem;
  }

  /* intro */
  .section-intro {
    display: flex;
    justify-content: center;
  }
  .section-intro .container {
    width: 970rem;
    display: flex;
    justify-content: center;
  }

  .intro-me {
    font-size: 10rem;
  }

  /* aboutme */
  .aboutme-links {
    row-gap: 1rem;
  }
  .aboutme-links .link-D {
    height: fit-content;
  }

  /* education */

  .section-education {
    display: flex;
    justify-content: center;
  }
  .section-education .container {
    width: 970rem;
    display: flex;
    justify-content: center;
  }

  .education-year {
    border-width: 0.4rem !important;
  }

  .section-education {
    padding-bottom: 0;
  }
  .education-course,
  .education-term,
  .education-year {
    width: 15rem;
    height: 30rem;
  }

  .ed-yearnum {
    font-size: 2.4rem;
  }

  .ed-year {
    font-size: 1.2rem;
  }

  .education-descriptions,
  .education-course,
  .education-term {
    grid-template-rows: 5rem 23rem;
  }
  .ed-courses--year,
  .course-name {
    width: 15rem;
    height: 5rem;
    font-size: 1.6rem;
    border-width: 0.4rem !important;
  }

  .ed-courses,
  .course-courses {
    width: 15rem;
    height: 23rem;
  }

  .ed-course,
  .course {
    padding: 0.5rem 1rem;
    width: 15rem;
    height: 3.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-width: 0.4rem !important;
  }

  .ed-courses--year {
    font-size: 1.6rem;
  }

  .ed-course {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
  }
  .education-description--term {
    height: 5rem;
    width: 66rem;
    font-size: 1.6rem;
    border-width: 0.4rem !important;
  }
  .course-descriptions--courses {
    height: 23rem;
    width: 66rem;
    font-size: 1.4rem;
  }
  .ed-description {
    padding: 0.5rem 1rem;
    font-weight: 500;
    grid-template-columns: 53rem 7rem;
    height: 3.8rem;
    width: 66rem;
    border-width: 0.4rem !important;
  }

  /* portfolio */

  .section-portfolio {
    display: flex;
    justify-content: center;
  }
  .section-portfolio .container {
    width: 970rem;
    display: flex;
    justify-content: center;
  }

  .portfolio-info {
    transform: translate(0%, 30%);
  }

  .btn-project--next {
    right: 0;
    top: 50%;
    transform: translate(-200%, 100%);
  }

  .btn-project--prev {
    left: 0;
    top: 50%;
    transform: translate(+200%, 100%);
  }

  /* contact */

  .section-contact {
    display: flex;
    justify-content: center;
  }
  .section-contact .container {
    width: 970rem;
    display: flex;
    justify-content: center;
  }

  .contact {
    width: 70rem;
  }

  .contact .contact-head h2 {
    width: 55rem;
  }

  .contact-text,
  .contact-head,
  .contact form {
    width: 55rem;
    justify-self: center;
  }
}

/**************************/
/*      below 992px      */
/**************************/
@media (max-width: 62em) {
  /* html {
    font-size: 50%;
  } */

  /* .nav {
    font-size: 156.25%;
  } */

  /* aboutme */

  .section-aboutme {
    display: flex;
    justify-content: center;
  }
  .section-aboutme .container {
    width: 970rem;
    display: grid;
    justify-content: center;
  }

  .aboutme-headder {
    justify-self: center;
    padding-bottom: 1rem;
  }

  .aboutme {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
    width: 70rem;
  }

  /* TODO */
  .aboutme-links {
    grid-column: 1/5;
    grid-row: 2/3;
    padding: 2rem 20rem;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
  }

  .aboutme-links .link-D {
    font-size: 1.4rem;
    width: 15rem;
    padding: 1rem;
  }

  /* skills */
  .section-skills {
    display: flex;
    justify-content: center;
  }

  .section-skills .container {
    display: flex;
    justify-content: center;
    width: 970rem;
  }

  .skills {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    width: 70rem;
  }

  .skills-mytools {
    grid-column: 1/5;
    grid-row: 2/3;
    padding: 2rem;
    justify-content: center;
  }

  .skills-toollist {
    display: flex;
    flex-direction: row;
  }

  .skills-toollist li {
    list-style-type: none;
  }

  /* project */

  .portfolio-projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 4rem;
    height: 84rem;
  }
  .portfolio-info {
    width: 50rem;
    justify-self: center;
    text-align: center;
    transform: translate(0%, 35%);
  }
  .portfolio-projects {
    width: 50rem;
    height: 94rem;
    justify-self: center;
    align-items: center;
  }
  .portfolio {
    display: grid;

    justify-content: center;
    align-content: center;
    width: 50rem !important;
  }
  .portfolio-container {
    height: 94rem;
    width: 50rem;
    justify-self: center;
    height: 94rem;
  }

  .project-3-A,
  .project-2-A,
  .project-1-A {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
  }
  .project-3-B,
  .project-2-B,
  .project-1-B {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: start;
  }
  .project-3-C,
  .project-2-C,
  .project-1-C {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: end;
  }
  .project-3-D,
  .project-2-D,
  .project-1-D {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: start;
  }

  .btn-project--next {
    right: 0;
    top: 50%;
    transform: translate(-600%, 90%);
  }

  .btn-project--prev {
    left: 0;
    top: 50%;
    transform: translate(600%, 90%);
  }
  .pageID-project {
    transform: translate(-50%, 300%);
  }

  .space {
    width: 34rem;
    height: 26rem;
  }

  .project {
    row-gap: 2rem;
    height: fit-content;
  }

  .portfolio {
    padding-bottom: 2rem;
  }
  .section-portfolio .container {
  }

  .project-container {
    width: 50rem;
    align-items: center;
    max-height: 94rem;
    display: grid;
    grid-template-columns: none;
    grid-row: 1fr 1fr;
    justify-self: center;
    justify-content: center;
    align-content: center;

    height: fit-content;
    align-self: start;
    width: 50rem;
    justify-self: center;
  }

  .current-project {
    height: 14rem;
    width: 44rem;
    grid-template-rows: none;
    grid-template-columns: 1fr;
  }
  .current-intro {
    height: 14rem;
    width: 44rem !important;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    grid-template-rows: none;
  }

  .current-intro--img {
    /* width: 18.4rem; */
    grid-column: 1/2;
    grid-row: 1/1;
  }
  .current-intro--info {
    justify-self: end;
    grid-column: 2/3;
    grid-row: 1/1;
  }

  .current-skills {
    display: none;
  }

  .current-project {
    grid-row: 2/3;
    grid-column: 1/1;
  }

  .current-info {
    grid-row: 1/2;
    padding: 3rem 2rem;
    width: 44rem;
    grid-column: 1/1;
    grid-template-rows: 1fr 1fr;

    grid-template-columns: none;
  }
  .slide-wrapper {
    justify-self: center;
  }

  .current-left {
    justify-self: center;
    width: 38rem;
    grid-row: 1/2;
    grid-column: 1/1;
  }
  .current-right {
    justify-self: center;
    width: 38rem;
    grid-row: 2/3;
    grid-column: 1/1;
    grid-template-rows: 1fr 13rem;
  }

  .current-lesson {
    height: fit-content;
  }

  .btn-current-demo ion-icon,
  .btn-current-sourcecode ion-icon {
    font-size: 2.3rem;
  }
  .btn-current-sourcecode {
    width: 18rem;
    height: 4rem;
    column-gap: 2rem;
    font-size: 2.1rem;
  }

  .btn-current-demo {
    width: 18rem;
    height: 4rem;
    column-gap: 2rem;
    font-size: 2.1rem;
  }
  /* contact */

  .section-contact {
    display: flex;
    justify-content: center;
  }
  .section-contact .container {
    width: 970rem;
    display: flex;
    justify-content: center;
  }

  .contact {
    width: 70rem;
  }

  .contact .contact-head h2 {
    width: 55rem;
  }

  .contact-text,
  .contact-head,
  .contact form {
    width: 55rem;
    justify-self: center;
  }
}

/**************************/
/*      below 800px      */
/**************************/
@media (max-width: 50em) {
  .nav span {
    display: none;
  }
  /* intro */
  .intro-container--top .intro-me {
    font-size: 7rem;
    font-weight: 600;
  }

  .intro-container--bottom .intro-me {
    font-size: 3rem;
    font-weight: 600;
  }

  /* aboutme */
  .aboutme {
    width: 46rem;
  }

  .aboutme .aboutme-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 24rem 1fr 1fr 1fr;
    padding-top: 4rem;
  }

  .aboutme-me--me,
  .aboutme-me--links,
  .aboutme-me--contact-cell {
    justify-self: center;
  }

  .aboutme-info {
    grid-column: 1/2;
    grid-row: 2/5;
  }

  .aboutme-links--github,
  .aboutme-links--linkedin,
  .aboutme-links--resume,
  .aboutme-links--instagram {
    display: none !important;
  }

  .aboutme-logo {
    display: inline-block !important;
    font-size: 2rem;
  }

  .link-M {
    display: inline-block !important;
  }

  /* skills */
  .skills {
    width: 46rem;
  }

  .section-skills .container {
    overflow-x: hidden;
  }

  .skills-techskills--myskills {
    padding: 6rem 4rem;
  }

  .skills-techskills-item--name {
    border-radius: 0.8rem;
  }

  .skills-techskill-item .skills-level div {
    width: 0.3rem;
  }

  .skill-level--1 {
    grid-column: 1/2;
    border-radius: 0.8rem 0 0 0.8rem;
  }

  .skill-level--5 {
    grid-column: 5/6;
    border-radius: 0 0.8rem 0.8rem 0;
  }

  /* education */
  .education-courses,
  .education-terms,
  .education-years {
    display: none;
  }

  .education-year--mobile {
    display: grid !important;
    height: auto;
    padding-bottom: 9.6rem;
  }

  /* portfolio */
  .portfolio .container {
    width: 46rem !important;
  }

  .portfolio {
    width: 46rem !important;
  }

  .portfolio-info {
    transform: translate(0%, 25%);
  }

  .portfolio-container {
    height: 62rem;
  }

  .portfolio-projects {
    grid-template-rows: 28rem 28rem;
    height: 62rem;
    justify-content: center;
    align-content: center;
  }

  .portfolio-project {
    grid-template-rows: 1fr;
  }

  .portfolio-project {
    transition: all 0.3s ease;
  }

  .portfolio-project .project-skills {
    display: none;
    transform: translateY(-100%);
    z-index: -99;
  }

  .btn-project--next {
    right: 0;
    top: 50%;
    transform: translate(-350%, 90%);
  }

  .btn-project--prev {
    left: 0;
    top: 50%;
    transform: translate(+350%, 90%);
  }
  .pageID-project {
    transform: translate(-50%, 300%);
  }

  .skills-toollist {
    flex-direction: column;
  }

  /* contact */
  .contact {
    width: 46rem;
    row-gap: 2rem;
  }

  .contact .contact-head h2 {
    width: 46rem;
  }

  .contact-text,
  .contact-head,
  .contact form {
    width: 46rem;
    justify-self: center;
  }

  .contact-text {
    grid-template-rows: 1fr;
  }

  .contact-text p:nth-child(1) {
    display: none;
  }

  .contact-text p:nth-child(2) {
    align-self: end;
  }
}
/**************************/
/*      below 670px      */
/**************************/
@media (max-width: 42em) {
  .btn-project--next {
    display: none;
  }

  .btn-project--prev {
    display: none;
  }
}

/**************************/
/*      below 512px      */
/**************************/
@media (max-width: 32em) {
  html {
    font-size: 46%;
  }

  .btn-project--pageID {
    width: 2rem;
    height: 2rem;
    transform: translate(0%, -100%);
  }

  .btn-current-demo ion-icon,
  .btn-current-sourcecode ion-icon {
    font-size: 2.6rem;
  }
  .btn-current-sourcecode {
    width: 20rem;
    height: 5rem;
    column-gap: 2rem;
    font-size: 2.3rem;
  }

  .btn-current-demo {
    width: 20rem;
    height: 5rem;
    column-gap: 2rem;
    font-size: 2.3rem;
  }
}

/**************************/
/*      below 400px      */
/**************************/
@media (max-width: 25em) {
  html {
    font-size: 40%;
  }
}
