/**************************/
/* Section Intro */
/**************************/

/* Top Decoration */
.top-decoration {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 10px;
  background: #00adb5;
}

.body {
  position: relative;
}

/*intro*/
.intro-gradient {
  background: linear-gradient(
    to bottom,
    rgba(55, 55, 55, 0.7),
    rgba(55, 55, 55, 0.7)
  );
  z-index: -999;
}

.intro-img {
  z-index: -1000;
}

.intro-grid {
  height: inherit;
  width: inherit;
  display: grid;
  column-gap: 6.4rem;
  row-gap: 0rem;
  grid-template-rows: repeat(4, 1fr);
}

.background {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  width: 1905px;
  height: 1071.56px;
  max-height: 100vh;
  max-width: none;
  left: 0;
  top: 0;
}

.intro-container--top {
  display: flex;
  justify-content: center;
  height: 25vh;
  width: 100vmax;
  padding: 0 3.2rem;
  margin: 0 auto;
  grid-row: 2/3;
}

.intro-container--bottom {
  display: flex;
  justify-content: center;
  height: 25vh;
  width: 100vmax;
  padding: 0 3.2rem;
  margin: 0 auto;
  grid-row: 3/4;
}

.intro-me {
  display: inline-block;
  align-self: center;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 15rem;
  line-height: 14.6rem;
}

/**************************/
/* Section aboutme */
/**************************/
.section-aboutme {
  background-color: #393e46;
}

.aboutme {
  color: #222;
}

.aboutme-grid {
  grid-column: 1/5;
  background-color: #fcf7f8;
  border-radius: 1rem;
  padding: 2rem;
}
.aboutme-me {
  grid-column: 1/2;
}

.aboutme-info {
  grid-column: 2/5;
  padding: 2rem;
}

.aboutme-links {
  grid-column: 5/6;
  background-color: #fcf7f8;
  border-radius: 1rem;
  padding: 9.6rem 2rem 9.6rem 2rem;
  row-gap: 2rem;
}

.aboutme-links a {
  width: 17rem;
  text-align: center;
  justify-self: center;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  justify-content: center;
}

.aboutme-links a:nth-child(odd):link,
.aboutme-links a:nth-child(odd):visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #00adb5;
  transition: all 0.3s;
}

.aboutme-links a:nth-child(odd):hover,
.aboutme-links a:nth-child(odd):active {
  color: #fff;
  background-color: #c33c54;
}

.aboutme-links a:nth-child(even):link,
.aboutme-links a:nth-child(even):visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #393e46;
  transition: all 0.3s;
}

.aboutme-links a:nth-child(even):hover,
.aboutme-links a:nth-child(even):active {
  color: #fff;
  background-color: #c33c54;
}

/**************************/
/* Section skills */
/**************************/
.section-skills {
  background-color: #393e46;
}

.skills-techskills {
  grid-template-rows: 6rem auto;
  row-gap: 2rem;
  grid-column: 1/5;
}

.skills-techskills--levels {
  box-shadow: 0 0 0 0.5rem #00adb5 inset;
  border-radius: 9px;
  grid-row: 1/2;
  column-gap: 4rem;
  row-gap: 0;
  height: 6rem;
  padding: 1rem;
}

.skills-techskills--levels .skills-level {
  justify-self: start;
}

.skills-techskills-levels-name {
  grid-column: 1/2;
  width: 14rem;
  justify-self: end;
  align-self: center;
}

.skills-level {
  grid-column: 2/3;
  column-gap: 0;
  row-gap: 0;
  justify-self: center;
  align-self: center;
}

.skills-level div {
  display: block;
  justify-self: center;
  align-self: center;
  border: 0.2rem solid #fff;
  padding: 0 2rem;
  height: 1.8rem;
  width: 3.6em;
}

.skill-level--1 {
  grid-column: 1/2;
  border-radius: 10rem 0 0 10rem;
}
.skill-level--2 {
  grid-column: 2/3;
}
.skill-level--3 {
  grid-column: 3/4;
}
.skill-level--4 {
  grid-column: 4/5;
}
.skill-level--5 {
  grid-column: 5/6;
  border-radius: 0 10rem 10rem 0;
}

.skills-techskills--myskills {
  font-size: 1.6rem;
  box-shadow: 0 0 0 0.5rem #00adb5 inset;
  border-radius: 9px;
  column-gap: 4rem;
  row-gap: 5rem;
  padding: 8rem 4rem;
}

.skills-techskill-item ion-icon {
  grid-column: 1/2;
}

.skills-techskill-item p {
  grid-column: 2/3;
  width: 14rem;
  justify-self: center;
  align-self: center;
  grid-column: 1/2;
  text-align: center;

  padding: 0.8rem;
  background-color: #fff;
  color: #222;
  border-radius: 10rem;
}

.skills-techskill-item .skills-level {
  grid-column: 2/5;
}

.skills-techskill-item .skills-level div {
  border: 0.2rem solid #fff;
  padding: 0 2rem;
  height: 3.2rem;
  width: 9.6rem;
}

/* mytools */

.skills-toollist {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills-mytools {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 0 0.5rem #00adb5 inset;
  border-radius: 9px;
  font-size: 1.4rem;
  padding: 10rem 2rem;
}

.skills-toollist-item {
  justify-self: center;
  padding: 0.5rem;
  height: 2rem;

  transition: all 0.3s;
}

.skills-toollist-item:hover {
  justify-self: center;
  color: #fff;
  background-color: #c33c54;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 6px;
}
