/**************************/
/* Section Intro */
/**************************/

/* Top Decoration */
.top-decoration {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 1rem;
  background: #00adb5;
}

.body {
  position: relative;
}

/*intro*/

.section-intro {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to bottom,
      rgba(57, 62, 70, 0.1),
      rgba(57, 62, 70, 0.8)
    ),
    url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-grid {
  height: inherit;
  width: inherit;
  display: grid;
  column-gap: 6.4rem;
  row-gap: 0rem;
  grid-template-rows: repeat(4, 1fr);
}

.intro-container--top {
  display: flex;
  justify-content: center;
  height: 25vh;
  width: 100vw;
  padding: 0 3.2rem;
  margin: 0 auto;
  grid-row: 2/3;
}

.intro-container--bottom {
  display: flex;
  justify-content: center;
  height: 25vh;
  width: 100vw;
  padding: 0 3.2rem;
  margin: 0 auto;
  grid-row: 3/4;
}

.intro-me {
  display: inline-block;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15rem;
  line-height: 14.6rem;
}

.intro-container--bottom h3 {
  font-size: 5rem;
  line-height: 4rem;
  align-self: start;
}

/**************************/
/* Section aboutme */
/**************************/
.section-aboutme {
  background-color: #393e46;
}

.aboutme {
  color: #222;
}

.aboutme-grid {
  grid-column: 1/5;
  background-color: #fcf7f8;
  border-radius: 1rem;
  padding: 2rem;
}

.aboutme-me {
  grid-column: 1/2;
  grid-template-rows: 24rem 6rem;
  align-content: center;
  align-self: start;
  row-gap: 2rem;
  justify-self: center;
}

.aboutme-me--me {
  height: 24rem;
  width: 18rem;
  border-radius: 4px;
  overflow: hidden;
  background-color: #999;
}

.aboutme-me--contact {
  padding: 0rem 1rem;
  row-gap: 1rem;
}

.aboutme-me--contact-cell,
.aboutme-me--contact-email {
  grid-template-columns: 1.4rem auto;
  justify-content: start;
  align-self: center;
  column-gap: 1rem;
}

.aboutme-me--contact-cell:hover,
.aboutme-me--contact-cell:hover > ion-icon,
.aboutme-me--contact-email:hover,
.aboutme-me--contact-email:hover > ion-icon {
  color: #cc3c54 !important;
}

.aboutme-me--contact-cell ion-icon,
.aboutme-me--contact-email ion-icon {
  justify-self: center;
  align-self: center;
  color: #222;
  width: 1.6rem;
}

/* .aboutme-me--contact-cell ion-icon:hover,
.aboutme-me--contact-email ion-icon:hover {
  color: #cc3c54;
} */

.email,
.tel {
  align-self: center;
}
.email:link,
.tel:link,
.email:visited,
.tel:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: #222;
}

.email:hover,
.tel:hover,
.email:active,
.tel:active {
  color: #cc3c54;
}

.aboutme-info {
  grid-column: 2/5;
  padding: 2rem;
}

.aboutme-links {
  grid-column: 5/6;
  background-color: #fcf7f8;
  border-radius: 1rem;
  padding: 9.6rem 2rem 9.6rem 2rem;
  row-gap: 2rem;
}

.aboutme-links a {
  width: 17rem;
  text-align: center;
  justify-self: center;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  justify-content: center;
}

.aboutme-links a:nth-child(odd):link,
.aboutme-links a:nth-child(odd):visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #00adb5;
  transition: all 0.3s;
}

.aboutme-links a:nth-child(odd):hover,
.aboutme-links a:nth-child(odd):active {
  color: #fff;
  background-color: #cc3c54;
}

.aboutme-links a:nth-child(even):link,
.aboutme-links a:nth-child(even):visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #393e46;
  transition: all 0.3s;
}

.aboutme-links a:nth-child(even):hover,
.aboutme-links a:nth-child(even):active {
  color: #fff;
  background-color: #cc3c54;
}

.aboutme-logo:nth-child(odd) {
  padding: 1.2rem 1.2rem;
  border-radius: 9px;
  color: #fff;
  background-color: #00adb5;
  transition: all 0.3s;
}

.aboutme-logo:nth-child(odd):hover {
  color: #fff;
  background-color: #cc3c54;
}

.aboutme-logo:nth-child(even) {
  padding: 1.2rem 1.2rem;
  border-radius: 9px;
  color: #fff;
  background-color: #393e46;
  transition: all 0.3s;
}

.aboutme-logo:nth-child(even):hover {
  color: #fff;
  background-color: #cc3c54;
}

/**************************/
/* Section skills */
/**************************/
.section-skills {
  background-color: #393e46;
}

.skills-techskills {
  grid-template-rows: 5rem auto;
  row-gap: 0.5rem;
  grid-column: 1/5;
}

.skills-techskills--levels {
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0 0 0 0.5rem #00adb5 inset;
  border-radius: 9px;
  grid-row: 1/2;
  column-gap: 4rem;
  row-gap: 0;
  height: 5rem;
  padding: 1rem;
}

.skills-techskills--levels .skills-level {
  justify-self: start;
}

.skills-techskills-levels-name {
  width: fit-content;
  justify-self: center;
  align-self: center;
}

.skills-level {
  grid-column: 2/3;
  column-gap: 0;
  row-gap: 0;
  justify-self: center;
  align-self: center;
}

.skills-level div {
  display: block;
  justify-self: center;
  align-self: center;
  padding: 0 2rem;
  height: 1.8rem;
  width: 3.6em;
}

.skills-techskill-item .skills-level .skill-level--1 {
  grid-column: 1/2;
  border-left: 0.2rem solid #fff;
  transition: all 0.3s;
  background-color: #bac8ff;
  background-color: #c5f6fa;
  border-radius: 10rem 0 0 10rem;
}
.skill-level--2 {
  grid-column: 2/3;
  transition: all 0.3s;
  background-color: #748ffc;
  background-color: #66d9e8;
}
.skill-level--3 {
  grid-column: 3/4;
  transition: all 0.3s;
  background-color: #4c6ef5;

  background-color: #22b8cf;
}
.skill-level--4 {
  grid-column: 4/5;
  transition: all 0.3s;
  background-color: #3b5bdb;
  background-color: #1098ad;
}
.skills-techskill-item .skills-level .skill-level--5 {
  grid-column: 5/6;
  border-right: 0.2rem solid #fff;
  transition: all 0.3s;
  background-color: #364fc7;
  background-color: #0b7285;
  border-radius: 0 10rem 10rem 0;
}

.skills-techskills--myskills {
  font-size: 1.6rem;
  box-shadow: 0 0 0 0.5rem #00adb5 inset;
  border-radius: 9px;
  column-gap: 4rem;
  row-gap: 5rem;
  padding: 8rem 4rem;
}

.skills-techskills-item--name {
  display: flex;
  grid-column: 1/2;
  grid-template-columns: 3.2rem 10.8rem;
  background-color: #fff;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  column-gap: 1rem;
  border-radius: 100rem;
  justify-self: center;
  align-self: center;

  width: 12rem;
  height: 2.8rem;
  padding: 0.8rem;
}

.skills-techskill-item ion-icon {
  grid-column: 1/2;
  font-size: 1.6rem;
}

/* .skills-techskills-item--name p {
  font-weight: 500;
} */

.skills-techskill-item p {
  grid-column: 2/3;
  font-size: 1.4rem;
  justify-self: center;
  align-self: center;
  text-align: center;
  text-justify: center;
  width: 10.8rem;
  color: #222;
}

.skills-techskill-item .skills-level {
  grid-column: 2/5;
}

.skills-techskill-item .skills-level div {
  border-top: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
  border-left: 0.1rem solid #fff;
  border-right: 0.1rem solid #fff;
  /* border: 0.2rem solid #fff; */
  padding: 0 2rem;
  height: 2.8rem;
  width: 9.6rem;
}

.skills-level {
  position: relative;
}

.skills-level-desc {
  display: grid !important;
  grid-column: 3/4 !important;
  justify-content: center;
  align-content: center;
  width: 48rem !important;
  border: none !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-transform: uppercase;
  font-weight: 500;
}
/* mytools */
.skills-toollist {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills-mytools {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 0 0.5rem #00adb5 inset;
  border-radius: 9px;
  font-size: 1.4rem;
  padding: 10rem 2rem;
}

.skills-toollist-item {
  justify-self: center;
  padding: 0.5rem;
  height: 2rem;

  transition: all 0.3s;
}

.skills-toollist-item:hover {
  justify-self: center;
  color: #fff;
  background-color: #cc3c54;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 6px;
}

/* JAVA */
.Java ~ .skills-level div:nth-child(1) {
}
.Java ~ .skills-level div:nth-child(2) {
}
.Java ~ .skills-level div:nth-child(3) {
}
.Java ~ .skills-level div:nth-child(4) {
}
.container
  .skills
  .skills-techskills
  .skills-techskills--myskills
  .Java
  ~ .skills-level
  div:nth-child(6) {
  background-color: #393e46;
}

/* C/C++ */
.cCpp ~ .skills-level div:nth-child(1) {
}
.cCpp ~ .skills-level div:nth-child(2) {
}
.cCpp ~ .skills-level div:nth-child(3) {
}
.container
  .skills
  .skills-techskills
  .skills-techskills--myskills
  .cCpp
  ~ .skills-level
  div:nth-child(5) {
  background-color: #393e46;
}
.container
  .skills
  .skills-techskills
  .skills-techskills--myskills
  .cCpp
  ~ .skills-level
  div:nth-child(6) {
  background-color: #393e46;
}

/* Python */
.Python ~ .skills-level div:nth-child(1) {
}
.Python ~ .skills-level div:nth-child(2) {
}
.Python ~ .skills-level div:nth-child(3) {
}
.container
  .skills
  .skills-techskills
  .skills-techskills--myskills
  .Python
  ~ .skills-level
  div:nth-child(5) {
  background-color: #393e46;
}
.container
  .skills
  .skills-techskills
  .skills-techskills--myskills
  .Python
  ~ .skills-level
  div:nth-child(6) {
  background-color: #393e46;
}

/* HTML/CSS */

.HTMLCSS ~ .skills-level div:nth-child(1) {
}

.HTMLCSS ~ .skills-level div:nth-child(2) {
}
.container
  .skills
  .skills-techskills
  .skills-techskills--myskills
  .HTMLCSS
  ~ .skills-level
  div:nth-child(4) {
  background-color: #393e46;
}
.container
  .skills
  .skills-techskills
  .skills-techskills--myskills
  .HTMLCSS
  ~ .skills-level
  div:nth-child(5) {
  background-color: #393e46;
}
.container
  .skills
  .skills-techskills
  .skills-techskills--myskills
  .HTMLCSS
  ~ .skills-level
  div:nth-child(6) {
  background-color: #393e46;
}

/* JavaScript */

div:nth-child(1) {
}

div:nth-child(2) {
}
.container
  .skills
  .skills-techskills
  .skills-techskills--myskills
  .JavaScript
  ~ .skills-level
  div:nth-child(4) {
  background-color: #393e46;
}
.container
  .skills
  .skills-techskills
  .skills-techskills--myskills
  .JavaScript
  ~ .skills-level
  div:nth-child(5) {
  background-color: #393e46;
}
.container
  .skills
  .skills-techskills
  .skills-techskills--myskills
  .JavaScript
  ~ .skills-level
  div:nth-child(6) {
  background-color: #393e46;
}

/**************************/
/* Section education */
/**************************/

/* structure */
.section-education {
  background-color: #fcf7f8;
  color: #222;
}

.education {
  row-gap: 9.6rem;
  grid-template-rows: 6rem 1fr 1fr 1fr;
}

.education-info {
  grid-row: 1/2;
  justify-self: center;
  height: inherit;
}

.education-info h2 {
  text-align: center;
  color: #cc3c54;
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
}

.education-info h3 {
  text-align: center;
  font-size: 2rem;
}

.education-courses,
.education-terms,
.education-years {
  height: 42rem;
  grid-row: 2/5;
  justify-content: center;
}

.year-1 {
  grid-column: 1/2;
  grid-row: 1/2 !important;
}
.year-2 {
  grid-column: 2/3;
  grid-row: 1/2 !important;
}
.year-3 {
  grid-column: 3/4;
  grid-row: 1/2 !important;
}
.year-4 {
  grid-column: 4/5;
  grid-row: 1/2 !important;
}
.year-5 {
  grid-column: 5/6;
  grid-row: 1/2 !important;
}

/* inner -1 */
.education-year {
  /* box-shadow: 0 0 0 0.5rem #00adb5 inset; */
  background-color: #fcf7f8;
  border: 0.5rem solid #00adb5;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 8rem 2rem 8rem 2rem;
  row-gap: 2rem;
  height: 42rem;
  width: 21rem;
  transition: all 0.3s;
  cursor: pointer;
}

.education-year:hover {
  transform: translateY(-1.2rem);
  border: 0.5rem solid #cc3c54;
  box-shadow: 1.4rem 2.2rem rgba(195, 60, 85, 0.4);
  /* box-shadow: 0 0 0 0.5rem #c33c54 inset; */
}

.ed-yearnum {
  font-size: 3rem;
  font-weight: 600;
  height: fit-content;
  justify-self: center;
  align-self: end;
}

.ed-year {
  height: fit-content;
  justify-self: center;
  align-self: start;
  margin-bottom: auto;
}

/* inner -2 */
.education-term {
  height: 42rem;
  width: 21rem;
  cursor: pointer;
  row-gap: 2rem;
  transition: all 0.3s;
}

.education-terms .education-year {
  border: 0.5rem solid #cc3c54;
  box-sizing: border-box;
  grid-column: 1/2;
}
.term-fall {
  grid-column: 2/3;
}
.term-winter {
  grid-column: 3/4;
}
.term-spring {
  grid-column: 4/5;
}
.term-summer {
  grid-column: 5/6;
}

.course-name {
  border: 0.5rem solid #cc3c54;
  box-sizing: border-box;
  border-radius: 9px;
  background-color: #fcf7f8;
  padding: 1rem 3rem;
  row-gap: 2rem;
  height: 8rem;
  width: 21rem;
  transition: all 0.3s;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;

  font-size: 2.2rem;
  font-weight: 600;
}

.course-courses {
  /* border: 0.5rem solid #00adb5;
  box-sizing: border-box;
  border-radius: 9px; */
  row-gap: 1rem;
  height: 32rem;
  width: 21rem;
  transition: all 0.3s;
  display: grid;
  justify-content: center;
  align-content: center;

  font-size: 1.8rem;
  font-weight: 500;
}

.course {
  border: 0.5rem solid #00adb5;
  box-sizing: border-box;
  border-radius: 9px;
  background-color: #fcf7f8;
  padding: 1rem 3rem;
  row-gap: 2rem;
  height: 5.6rem;
  width: 21rem;
  transition: all 0.3s;
  display: grid;
  justify-content: center;
  align-content: center;
}

.education-terms .education-year:hover,
.education-term:hover > .course-name {
  transform: translateY(-1.2rem);
  box-shadow: 1.4rem 2.2rem rgba(195, 60, 85, 0.4);
  color: #fff;
  background-image: linear-gradient(120deg, #f77062 0%, #fe5196 100%);
  border: none;
  box-shadow: 1.4rem 2.2rem rgba(195, 60, 85, 0.4);
}

.education-term:hover .course {
  /* transform: translateY(-1.2rem);
  box-shadow: 1.4rem 2.2rem rgba(0, 173, 181, 0.4); */
}

/* inner -3 */
.education-course {
  grid-column: 1/2;
  height: 42rem;
  width: 21rem;
  cursor: pointer;
  row-gap: 2rem;
}

.education-courses .education-descriptions {
  grid-column: 2/6;
  height: 42rem;
  row-gap: 2rem;
}

.course-descriptions--courses {
  row-gap: 1rem;
  height: 32rem;
  transition: all 0.3s;
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 1.8rem;
  font-weight: 500;
}

.ed-courses--year {
  border: 0.5rem solid #cc3c54;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 1rem 3rem;
  row-gap: 2rem;
  height: 8rem;
  width: 21rem;
  transition: all 0.3s;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;

  font-size: 2.2rem;
  font-weight: 600;
}

.ed-courses {
  row-gap: 1rem;
  height: 32rem;
  width: 21rem;
  transition: all 0.3s;
  display: grid;
  justify-content: center;
  align-content: center;

  font-size: 1.8rem;
  font-weight: 500;
}

.ed-course {
  border: 0.5rem solid #cc3c54;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 1rem 3rem;
  row-gap: 2rem;
  height: 5.6rem;
  width: 21rem;
  transition: all 0.3s;
  display: grid;
  justify-content: center;
  align-content: center;
}

.education-description--term {
  border: 0.5rem solid #cc3c54;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 1rem 3rem;
  row-gap: 2rem;
  height: 8rem;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;

  transition: all 0.3s;
  font-size: 2.2rem;
  font-weight: 600;
  cursor: pointer;
}

.ed-description {
  grid-template-columns: 72.6rem 9rem;
  border: 0.5rem solid #00adb5;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 1rem 3rem;
  row-gap: 2rem;
  height: 5.6rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

.ed-desc--name {
  display: grid;
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-self: start;
}

.ed-desc--grade {
  display: grid;
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-self: start;
}

.education-course:hover > .ed-courses--year {
  transform: translateY(-1.2rem);
  /* box-shadow: 1.4rem 2.2rem rgba(195, 60, 85, 0.4); */
  color: #fff;
  background-image: linear-gradient(120deg, #f77062 0%, #fe5196 100%);
  border: none;
  box-shadow: 1.4rem 2.2rem rgba(195, 60, 85, 0.4);
}

.education-description--term:hover {
  transform: translateY(-1.2rem);
  /* box-shadow: 1.4rem 2.2rem rgba(195, 60, 85, 0.4); */
  color: #fff;
  background-image: linear-gradient(120deg, #f77062 0%, #fe5196 100%);
  border: none;
  box-shadow: 1.4rem 2.2rem rgba(195, 60, 85, 0.4);
}

/* education years - mobile */
.ed-yearnum--mobile {
  cursor: pointer;
}

.ed-yearnum--mobile ion-icon {
  font-size: 2rem;
}

.education-year--mobile {
  justify-content: center;
  grid-row: 2/5;
  /* height: 20rem; */
  row-gap: 1.5rem;
}

.ed-yearnum--mobile {
  border-bottom: solid 0.5rem #00adb5;
  /* box-shadow: 0 -0.5rem 0 0rem #00adb5 inset; */
  width: 46rem;
  height: 5rem;
  align-items: center;
  padding: 1rem;
}

.ed-yearnum--mobile:hover {
  border-bottom: solid 0.5rem #cc3c54;
}

.pinkborder {
  border-bottom: solid 0.5rem #cc3c54;
}

.ed-yearnum--mobile :nth-child(1) {
  align-self: center;
  justify-self: start;
}

.ed-yearnum--mobile :nth-child(2) {
  align-self: center;
  justify-self: center;
}

.ed-yearnum--mobile ion-icon {
  align-self: center;
  justify-self: end;
}

.ed-yearnum--mobile-shadow {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.course--mobile {
  font-size: 1.4rem;
  justify-self: center;
  align-self: center;
}

.ed-year-courses--mobile li {
  padding: 0.3rem;
  border-bottom: 0.1rem solid #222;
}

.ed-year-courses--mobile li:nth-child(1) {
  padding: 0.5rem 0.3rem 0.3rem 0.5rem;
  border-bottom: 0.1rem solid #222;
}
/**************************/
/* Section portfolio */
/**************************/

/* structure */
.section-portfolio {
  padding-bottom: 13rem;
  display: flex;
  justify-content: center;
}

.portfolio {
  row-gap: 9.6rem;
  grid-template-rows: 4rem 1fr;
  height: fit-content;
}

.portfolio-info {
  grid-row: 1/2;
  width: 94rem;
  text-align: center;
  /* justify-self: center; */
  height: inherit;
  text-align: center;
  color: #cc3c54;
  font-size: 3.2rem;
  margin-bottom: 0.5rem;

  transform: translate(0%, 30%);
}

.portfolio-projects {
  height: 42rem;
  grid-row: 2/5;
  justify-content: center;
}

.project-3-A,
.project-2-A,
.project-1-A {
  grid-column: 1/2;
}

.project-3-B,
.project-2-B,
.project-1-B {
  grid-column: 2/3;
}

.project-3-C,
.project-2-C,
.project-1-C {
  grid-column: 3/4;
}

.project-3-D,
.project-2-D,
.project-1-D {
  grid-column: 4/5;
}

.portfolio-project {
  row-gap: 1rem;
}

.portfolio-project .project-intro,
.portfolio-project .project-skills {
  justify-self: center;
  border: 0.5rem solid #00adb5;
  background-color: #eee;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 1rem;
  row-gap: 2rem;
  width: 21rem;
  transition: all 0.3s;
  cursor: pointer;
}

/*inner intro*/
.project-intro {
  grid-row: 1/3;
  height: 27rem;
  row-gap: 1rem;
}

.project-intro--img {
  height: 11.5rem;
  border-radius: 4px;
  overflow: hidden;
  background-color: #999;
}

.project-intro--info {
  height: 11rem;
  width: 18rem;
  row-gap: 1rem;
  justify-content: start;
  align-self: center;
}

.project--name {
  justify-self: start;
  align-self: start; /*end*/
  font-size: 2.2rem;
}

.project--date {
  display: flex;
  justify-self: start;
  align-self: end;
  font-size: 1.6rem;
}

.ph-calendar-check {
  align-self: end;
  font-size: 1.6rem;
}

.project--group {
  display: grid;
  grid-template-columns: 1.6rem auto;
  column-gap: 1rem;
  justify-self: start;
  align-self: start;
  font-size: 1.6rem;
}

.ph-user-bold,
.ph-users-bold,
.ph-users-three-bold,
.ph-users-four-bold {
  align-self: center;
  justify-self: start;
  font-size: 1.6rem;
  grid-column: 1/2;
}

.project--group-numbers {
  align-self: center;
  justify-self: start;
  grid-column: 2/3;
}

/*inner skills*/
.project-skills {
  display: grid;
  grid-row: 3/4;
  height: 14rem;
}

.project-skillcontainer {
  justify-self: center;
  align-self: start;
  column-gap: 1rem;
  row-gap: 0.5rem;
  height: fit-content;
  width: 18rem;
}

/* project buttons */
.btn-project {
  background-color: inherit;
  border: none;
  height: 4rem;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-project--next {
  right: 0;
  top: 50%;
  transform: translate(100%, 100%);
}

.btn-project--prev {
  left: 0;
  top: 50%;
  transform: translate(-100%, 100%);
}

.btn-project--icon {
  color: #00adb5;
  height: 3rem;
  width: 3rem;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-project--icon:hover {
  color: #cc3c54;
}
.section-portfolio .container {
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
}

.section-portfolio .container .portfolio {
  height: fit-content;
  /* overflow-y: visible !important; */
  position: relative;
  overflow-x: hidden;
  width: 94rem;
}

.portfolio-container {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 94rem;
  height: 46rem;
  position: relative;
}

.portfolio-container.slide-animated {
  transition: left 0.5s ease-out;
}

.portfolio-projects {
  align-content: center;
  justify-content: center;
  position: absolute;
  width: 94rem;
  height: 46rem;
}

.pageID-project {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 200%);

  display: flex;
  gap: 0.8rem;
}

.btn-project--pageID {
  height: 1.6rem;
  width: 1.6rem;
  background-color: inherit;
  border: 3px solid #00adb5;
  transition: all 0.3s;
  border-radius: 100rem;
  cursor: pointer;
}

.btn-project--pageID:hover {
  border: 3px solid #cc3c54;
}

/**************************/
/*     My Projects        */
/**************************/

/* Project A */
/* Project A 1st layout*/
.project-1 .project-skills .JavaScript {
  grid-column: 1/2;
}

.project-1 .project-skills .HTML {
  grid-column: 1/2;
  grid-row: 2/3;
}

.project-1 .project-skills .CSS {
  grid-column: 2/3;
  grid-row: 2/3;
}
/* Project A 2nd layout*/
/* Project A 3rd layout*/

/* Project B */
/* Project B 1st layout*/
/* Project B 2nd layout*/
/* Project B 3rd layout*/

/* Project C */
/* Project C 1st layout*/
/* Project C 2nd layout*/
/* Project C 3rd layout*/

/* Project D */
/* Project D 1st layout*/
/* Project D 2nd layout*/
/* Project D 3rd layout*/

/* current project*/
.project-container {
  height: 46rem;
  display: grid;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

.current-project {
  row-gap: 1rem;
}
.current-project .current-intro,
.current-project .current-skills {
  grid-column: 1/2;
  justify-self: center;

  /* border: 0.5rem solid #cc3c54;
  background-color: #eee;
  box-sizing: border-box; */
  color: #fff;
  background-image: linear-gradient(120deg, #f77062 0%, #fe5196 100%);
  border: none;

  border-radius: 9px;
  padding: 1.3rem;
  row-gap: 2rem;
  width: 21rem;
  transition: all 0.3s;
  cursor: pointer;
}

.current-project:hover > * {
  color: #fff;
  background-image: linear-gradient(120deg, #f77062 0%, #fe5196 100%);
  border: none;
  transform: translateY(-1.2rem);
  box-shadow: 1.4rem 2.2rem rgba(195, 60, 85, 0.4);
}

.project {
  height: 42rem;
}

.current-intro {
  grid-row: 1/3;
  height: 27rem;
  row-gap: 1rem;
}

.current-intro--img {
  height: 11.5rem;
  border-radius: 4px;
  overflow: hidden;
  background-size: cover;
  background-color: #999;
}

.current-intro--info {
  height: 11rem;
  width: 18rem;
  row-gap: 1rem;
  justify-content: start;
  align-self: center;
}

.current--name {
  justify-self: start;
  align-self: start; /*end*/
  font-size: 2.2rem;
}

.current--date {
  display: flex;
  justify-self: start;
  align-self: end;
  font-size: 1.6rem;
}

.ph-calendar-check {
  align-self: end;
  font-size: 1.6rem;
}

.current--group {
  display: grid;
  grid-template-columns: 1.6rem auto;
  column-gap: 1rem;
  justify-self: start;
  align-self: start;
  font-size: 1.6rem;
}

.current--group-numbers {
  align-self: center;
  justify-self: start;
  grid-column: 2/3;
}

/*inner skills*/
.current-skills {
  display: grid;
  grid-row: 3/4;
  height: 14rem;
}

.current-skillcontainer {
  justify-self: center;
  align-self: start;
  column-gap: 1rem;
  row-gap: 0.5rem;
  height: fit-content;
  width: 18rem;
}

/* current project discription */
.current-info {
  grid-column: 2/5;
  width: 67rem;
  border: 0.5rem solid #00adb5;
  /* border: none; */
  background-color: #eee;
  /* background-color: #393e46; */
  box-sizing: border-box;
  border-radius: 9px;
  /* box-shadow: 0.7rem 1.1rem 2rem 0.04rem rgba(0, 0, 0, 0.2); */
  padding: 2rem;

  display: grid;
  grid-template-columns: 6fr 4fr;
  column-gap: 3rem;
}

.current-left {
  display: grid;
  grid-template-rows: 21.43rem 1fr;
  row-gap: 2rem;
}

.current-right {
  display: grid;
  grid-template-rows: 1fr 11rem;
  row-gap: 2rem;
}

.slides div {
}

.current-lesson,
.current-desc {
  line-height: 1.9rem;
  padding: 1rem;
}

.current-lesson {
  /* max-height: 20rem; */
}
.current-links {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  align-items: center;
  justify-items: center;
  padding: 1.2rem;
}

.btn-current-demo,
.btn-current-sourcecode {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-self: center;
  grid-template-columns: 5rem 1fr;
  /* column-gap: 2rem; */
  height: 3.5rem;
  width: 15rem;
  align-items: center;
  justify-items: center;
  background-color: #00adb5;
  border-radius: 1000rem;
  padding-left: 1rem;
  padding-right: 2rem;
}

.btn-current-demo ion-icon,
.btn-current-sourcecode ion-icon {
  font-size: 2rem;
}

.btn-current-demo p,
.btn-current-sourcecode p {
  /* justify-self: start; */
}

/* current slides */
.slide-wrapper {
  position: relative;
  width: 35.4rem;
  overflow: hidden;
  border-radius: 9px;
}

.slides {
  position: absolute;
  width: 35.4rem;
}

.slides.animated {
  transition: left 0.5s ease-out;
}

.slide {
  width: 100%;
  height: 21.43rem;
  /* border-radius: 9px; */
  position: absolute;
  width: 35.4rem;
  overflow: hidden;
  background-color: #aaa;
}

.btn-current-next {
  position: absolute;
  display: grid;
  top: 50%;
  right: 0%;
  justify-content: center;
  align-content: center;
  transform: translate(0, -50%);
  font-size: 2rem;
  width: 6rem;
  height: 21.43rem;
  position: absolute;
  cursor: pointer;
  color: #fff;
  opacity: 0;
  transition: all 0.3s;
}

.btn-current-prev {
  position: absolute;
  display: grid;
  top: 50%;
  left: 0%;
  justify-content: center;
  align-content: center;
  transform: translate(0, -50%);
  font-size: 2rem;
  width: 6rem;
  height: 21.43rem;
  position: absolute;
  cursor: pointer;
  color: #fff;
  opacity: 0;
  transition: all 0.3s;
}

.slide-wrapper:hover > .btn-current-next {
  background-image: linear-gradient(
    to left,
    rgb(0, 0, 0, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 1;
}

.slide-wrapper:hover > .btn-current-prev {
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 1;
}

.slide {
  background-size: cover;
}

.current-info {
  color: #222;
}
.current-links a {
  color: #222;
  text-decoration: none;
}

.btn-current-sourcecode:hover,
.btn-current-demo:hover {
  color: #fff;
  background-image: linear-gradient(120deg, #f77062 0%, #fe5196 100%);
  border: none;
  transition: all 0.3s;
}

/**************************/
/*     Section Contact    */
/**************************/

.section-contact {
  background-color: #393e46;
  /* height: 93vh; */
  min-height: 82rem;
  padding-top: 15.6rem;
  padding-bottom: 20vh;
}

.contact {
  grid-template-rows: 6.4rem 4rem 1fr;
  height: 62rem;
}

.contact .contact-head {
  grid-row: 1/2;
  row-gap: 0;
}

.contact .contact-head h2 {
  grid-row: 1/2;
  justify-self: center;
  height: inherit;
  text-align: center;
  color: #fff;
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
  width: 80rem;
  text-transform: uppercase;
}

.contact .contact-headbox {
  height: 0.3rem;
  width: 25rem;
  background-color: #00adb5;
  justify-self: center;
  align-self: start;
  transform: translate(0, 300%);
}

.contact-text {
  height: 4rem !important;
  grid-row: 2/3;
  justify-self: center;
  height: inherit;
  text-align: center;
  color: #fff;
  width: 80rem;
  font-size: 1.4rem;
  row-gap: 0.3rem;
  letter-spacing: 0.03rem;
  line-height: 1.6rem;
}

.contact-form {
  grid-row: 3/4;
  width: 80rem;
  height: 45rem;

  grid-template-rows: 7rem 7rem 15rem;
  row-gap: 0rem;
  justify-self: center;
  align-self: center;
  align-items: center;
}

.contact-form div input,
.contact-form div textarea {
  width: 100%;
  height: 4rem;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-family: inherit;
  border-radius: 8px;
  margin: 1.3rem 0rem;
  border: none;
}

.contact-form div input::placeholder,
.contact-form div textarea::placeholder {
  color: #555;
}

#contact-message {
  height: 12rem;
}

#contact-message:focus,
#contact-email:focus,
#contact-name:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(0, 172, 181, 0.8);
}

.btn-contact--send {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  grid-row: 4/5;
  width: 8.4rem;
  height: 3.8rem;

  padding: 1rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;

  color: #fff;
  background-color: #00adb5;
  border-radius: 8px;

  transform: translate(0, -100%);
  transition: all 0.3s;
}

.btn-contact--send:hover {
  /* background-color: #cc3c54; */
  background-image: linear-gradient(120deg, #f77062 0%, #fe5196 100%);
}

/*  additional color adjustments */

.section-portfolio,
.section-skills {
  background-color: #eee;
}

.skills-techskills--levels,
.skills-techskills--myskills,
.skills-mytools {
  background-color: #393e46;
  box-shadow: none;
  box-shadow: 0.7rem 1.1rem 2rem 0.04rem rgba(0, 0, 0, 0.2);
  color: #fff;
}

.skills-techskills--levels {
  cursor: pointer;
  background-color: #00adb5;
  transition: all 0.3s;
}

.skills-techskills--levels:hover {
  background-color: #cc3c54;
}

.skills-techskills--levels:hover
  ~ .skills-techskills--myskills
  .skills-techskill-item
  .skills-level
  div:nth-child(1) {
  background-color: #ffdeeb;
  background-color: #ffe3e3;
}

.skills-techskills--levels:hover
  ~ .skills-techskills--myskills
  .skills-techskill-item
  .skills-level
  div:nth-child(2) {
  background-color: #faa2c1;
  background-color: #ffa8a8;
}

.skills-techskills--levels:hover
  ~ .skills-techskills--myskills
  .skills-techskill-item
  .skills-level
  div:nth-child(3) {
  background-color: #f06595;
  background-color: #ff6b6b;
}

.skills-techskills--levels:hover
  ~ .skills-techskills--myskills
  .skills-techskill-item
  .skills-level
  div:nth-child(4) {
  background-color: #d6336c;
  background-color: #f03e3e;
}

.skills-techskills--levels:hover
  ~ .skills-techskills--myskills
  .skills-techskill-item
  .skills-level
  div:nth-child(5) {
  background-color: #a61e4d;
  background-color: #c92a2a;
}

.section-portfolio {
  color: #393e46;
}

.section-education {
  background-color: #fcf7f8;
}

.education-year {
  /* background-color: #fcf7f8; */
}

.portfolio-projects .portfolio-project:hover > * {
  transform: translateY(-1.2rem);
  color: #fff;
  background-image: linear-gradient(120deg, #f77062 0%, #fe5196 100%);
  border: none;
  box-shadow: 1.4rem 2.2rem rgba(195, 60, 85, 0.4);
  /* box-shadow: 0 0 0 0.5rem #cc3c54  inset; */
}

.yearSelected {
}
.termSelected {
  transform: translateY(-1.2rem);
  color: #fff;
  background-image: linear-gradient(120deg, #f77062 0%, #fe5196 100%);
  border: none !important;
  box-shadow: 1.4rem 2.2rem rgba(195, 60, 85, 0.4);
  /* transition: all 0s; */
}
